/* Globals */
* {
  margin: 0;
  padding: 0;
}

:root {
  --primary-bg-color: #272727;
  --primary-text-color: #FF652F;
  --accent-text-color: #FFE400;
  --second-accent-text-color: #14A76C;
  --accent-color: #747474;

}
.App {
  text-align: center;
  background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
  min-height: 100vh;
}

/* Header */
.header {
  background-color: var(--primary-bg-color);
  height: 75px;
  color: var(--primary-text-color);
  margin-bottom: 0.5rem;
}

/* Search Form */
.search-form {
  margin-bottom: 15px;
}
.search-bar {
  width: 25%;
  padding: 8px 10px;
  margin: 0 5px;
}

.search-btn {
  padding: 6px 5px;
}

.icon {
  padding: 10px 5px;
  background-color: rgba(0, 0, 0, 0.25);
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.search-form input[type=text] {
  background-color: rgba(0, 0, 0, 0.25);
  border: none;
  color: #f7f7f7;
  box-sizing: border-box;
  border-radius: 4px;
  transition: background-color 0.5s ease;
}

.search-form input[type=text]:focus {
  background-color: rgba(0, 0, 0, 0.45);
}

::-webkit-input-placeholder {
  color: white;
}

:-moz-placeholder { /* Firefox 18- */
  color: white;  
}

::-moz-placeholder {  /* Firefox 19+ */
  color: white;  
}

:-ms-input-placeholder {  
  color: white;  
}

/* Recipe Section */
.recipe-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.recipe-card {
  background-color: var(--primary-bg-color);
  margin: 5px;
  border-radius: 20px;
  width: 45%;
  max-width: 325px;
  -webkit-box-shadow: 3px 5px 10px 0px rgba(39,39,39,1);
  -moz-box-shadow: 3px 5px 10px 0px rgba(39,39,39,1);
  box-shadow: 3px 5px 10px 0px rgba(39,39,39,1);
}

.recipe-card img {
  padding: 0.5rem;
  border-radius: 15px;
}

.recipe-card h3 {
  padding: 0px 10px;
  color: var(--second-accent-text-color);
}

.recipe-card p {
  color: var(--accent-color);
  
}
